<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="Mon1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat1Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat2Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat3Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat4Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat5Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat6Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Mon6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Tue6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Wed6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Thu6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fri6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat1ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat2ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat3ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat4ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat5ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat6ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat1Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat2Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat3Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat4Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat5Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="Sat6Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoSaveMemo" serializeAs="String">
                <value/>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
